.dashboard__nav-wrapper {
  padding-left: 32px;
  padding-top: 26px;
  display: flex;
  flex-direction: column;
  gap: 21px;
}

.dashboard__nav-button {
  background: none;
  border: none;
  color: var(--clr-light-blue);
  transition: 0.3s ease;
}

.active {
  color: var(--clr-white);
}

.dashboard__nav-button:hover {
  transition: 0.3s ease;
  color: var(--clr-white);
}

@media screen and (max-width: 840px) {
  .dashboard__nav-wrapper {
    flex-direction: row;
    justify-content: space-between;
    padding: 24px 32px;
  }
}
